.order-card{
    border: 1px solid rgb(127, 127, 127);
    margin: 1em;
    flex: 1 1 20%;
    max-width: 20%;
    border-radius: 10px;
}

.order-card img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.order-list{
    display: flex;
    flex-wrap: wrap; 
}

.order-desc{
    text-align: start;
    padding: 10px;
}

.order-title{
    font-weight: 600;
}

.order-price{
    color: red;
    font-weight: 400;
}

.order-list button{
    width: 100%;
}