<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add New User</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="{{url_for('addusers')}}" method="POST">
      <label for="Email">Email:</label>
      <input type="text" id="Email" name="Email" id="Email" required><br>

      <label for="Username">Username:</label>
      <input type="text" id="Username" name="Username" id="Username" required><br>

      <label for="ShopId">Shop Id:</label>
      <input type="text" id="ShopId" name="ShopId" id="ShopId"><br>

      <label for="Password">Password:</label>
      <input type="password" id="Password" name="Password" id="Password"><br>

      <input type="submit" value="Submit" onclick="adduser()">
    </form>
  </body><script src="addusers.js"></script>
  
</html>

