<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add To Cart</title>
  </head>
  <body>
    <h1>Add To Cart</h1>
    <form action="" method="POST">
      <label for="ProductId">ProductId:</label>
      <input type="text" id="ProductId" name="ProductId" required><br>

      <label for="UserId">UserId :</label>
      <input type="text" id="UserId" name="UserId" required><br>

      <label for="Quantity">Quantity:</label>
      <input type="text" id="Quantity" name="Quantity" required><br>

      <p onclick="addtocart()">submit</p>
    </form>
    <p id="test"></p>
  </body>
  <script src="cart.js"></script>
</html>

