.review-button{
    background-color: #FFD3B6;
    border-color: #ffb686;
    color: #212121;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.review-button:hover{
    color: #fff;
}

textarea{
    resize: none;
}

.homepage-container{
    width: 80vw;
    margin:  auto;
}

.welcome{
    font-size: 40px;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}

.logout-btn{
    width: 100%;
    border-radius: 10px;
}

.order-card-user{
    margin:15px 0;
}

.order-card-user-header{
    background-color: #FFD3B6;
    text-align: left;
    font-weight: bold;
}

.total-product-price-user{
    font-weight: bold;
    font-size: 16px;
}

.total-price-user{
    font-weight: bold;
    font-size: 20px;
}

.welcome-banner{
    margin: 20px 0;
    
}

.user-see-order{
    font-size: 25px;
    font-weight: bold;
}