.navbar{
    background-color: #FFD3B6;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items:center;;
}

.icon{
    font-size: 28px;
    fill: white;
}

.success-box{
    background-color: #DCEDC1;
}

.success-word{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}