#root{
    margin: 0;
    width: 100vw;
}

.container{
    width: 100%;
    margin: 2em auto;
}

.row{
    display: flex;
}

.col{
    width: 50%;
}

.productName {
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    color: #213547;
}

.rating-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}