<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add New Shop</title>
  </head>
  <body>
    <p id="test"></p>
    <!-- <h1>Add New Shop</h1>
    <form action="{{url_for('add_shop')}}" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>

      <label for="address">Address:</label>
      <input type="text" id="address" name="address" required><br>

      <label for="phone_number">Phone Number:</label>
      <input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{8}" required><br>

      <input type="submit" value="Submit">
    </form> -->
  </body>
  <script src="add_product.js"></script>
</html>

