  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <title>Add New Product</title>
    </head>
    <body>
      <h1>Add New Product</h1>
      <form action="" method="POST">
        <label for="ProductName">ProductName:</label>
        <input type="text" id="ProductName" name="ProductName" required><br>

        <label for="ShopId">ShopId :</label>
        <input type="text" id="ShopId" name="ShopId" required><br>

        <label for="Stock">Stock:</label>
        <input type="tel" id="Stock" name="Stock" required><br>

        <p onclick="addProduct()">submit</p>
      </form>
      <p id="test"></p>
    </body>
    <script src="add_product.js"></script>
  </html>

