#root{
    margin: 0;
    width: 100vw;
    max-width:100vw;
}

.container{
    width: 80vw;
    margin: auto;
}

.directory{
    padding-top: 10px;
    text-align: left;
}

.row{
    display: flex;
    margin-top: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.shop-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-banner{
    border: 1px solid black;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.shopimg{
    border-radius: 50%;
    width: 100%;
}

.shopdesc{
    display: grid;
    align-items:center;
    padding-left:40px;
}

.shopname{
    font-weight: bold;
    font-size: 30px;
    text-align:left;
}

.shopaddress{
    font-size: 16px;
    text-align: left;
}

.shop-buttons{
    align-items: right;
}

.shop-card{
    background-color: white;
    box-shadow: 5px 5px 5px 3px grey;
    height: 300px;
    padding-top:10px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 10px;
    text-align: left;
    position: sticky;
    position: -webkit-sticky;
    top:30px;
}

.shop-product{
    font-size:30px;
    font-weight: bold;
}

.category{
    font-size: 20px;
    font-weight: bold;
}

.labels{
    padding-left: 20px;
}

.shopproduct-column {
    float: left;
    width: 25%;
    padding: 0 10px;
    height:350px;
    margin-bottom: 20px;
  }

/* Remove extra left and right margins, due to padding */
.shopproduct-row {margin: 0 -5px;}

/* Clear floats after the columns */
.shopproduct-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .shopproduct-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
/* Style the counter cards */
.shopproduct-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding:0px;
    text-align: center;
    background-color: #f1f1f1;
    height: 100%;
}

.cards{
    padding-left:20px;
}

.shopproduct-desc{
    padding: 5px 10px;
    text-align:left;
}

.shopproduct-title{
    font-weight: bold;
    font-size: 12px;
}

.shopproduct-price{
    font-size: 18px;
    font-weight: bold;
    color: #FF6878;
}

.shopproduct-rating{
    font-size: 12px;

}