<form action="{{ url_for('update_shop') }}" method="POST">
  <label for="name">Name: {{shop.name}}</label>
  <input type="text" name="name" value="{{ shop.name }}" id="name" hidden>
  <br><br>

  <label for="address">Address:</label>
  <input type="text" id="address" name="address" value="{{ shop.address }}" required><br><br>

  <label for="phone_number">Phone Number:</label>
  <input type="text" id="phone_number" name="phone_number" value="{{ shop.phone_number }}" required><br><br>

  <input type="hidden" name="_method" value="PUT">
  <input type="submit" name="submit_button" value="Update">
  <input type="submit" name="submit_button" id="activate" value="Deactivate">
</form>