#root{
    margin: 0;
    width: 100vw;
}

.container{
    width: 80vw;
    margin: auto;
}

.directory{
    padding-top: 10px;
    text-align: left;
}

.row{
    display: flex;
    margin-top: 20px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.productimg{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productDetail{
    padding-left: 20px;
}

.productName{
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    color: #333333;
    line-height: 1.25em;
}

.productDesc{
    font-size: 16px;
    text-align: left;
    color: #212427;
    padding-top: 10px;
    padding-bottom: 10px;
}

.productPrice{
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    height: 100px;
    display:grid;
    align-items: center;
    background-color: #F2EDE4;
}

.productvariant{
    border: 3px red solid;
}

.rating{
    display: flex;
    align-items: center;
}

.follow{
    background-color: #FF8B94;
}

.shop{
    border: #5E0C12 1px solid;
    padding: 10px;
}

.shopimg{
    border-radius: 50%;
    width: 100%;
}

@media (max-width:1127px) {
    .shopimg {
      display: none;
    }
  }

.shopbutton{
    padding-left: 5px;
    padding-right: 5px;
}

.rating-row{
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cover{
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.rating-star{
    align-items: center;
}

.productcart{
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    align-items: center;
    justify-content: left;
    display: grid;
}

.imgcart{
    margin-right: 20px;
}

.namecart{
    font-size: 18px;
}

.quantity{
    font-size:18px;
    padding-left: 10px;
    padding-right: 10px;
    display:grid;
    align-items:center;
}

.buttonquantity{
    height:30px;
}

.addtocart{
    position: sticky;
    width: 100vw;
    bottom: 0px;
    background-color: #FFD3B6;
    padding-top:0;
}

.totalprice{
    text-align: left;
    font-size: 16px;
}