.order-cart{
    border: 1px solid #e0e0e0;
    margin: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #67def3;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #67def3;
}